.glyphicon-number:before {
    content: "\0023";
}

.glyph-sm{
    font-size: 1em;
}

.glyph-md{
    font-size: 1.5em;
}

.glyph-lg{
    font-size: 3em;
}

.medium-font{
    font-size: 20px;
}

.btn-primary{
    margin-top: 7px;
}

.huge{
    font-size: 30px;
}

select.form-control{
    -webkit-border-radius: 0px;
}